.waf-tabView-container-level-0 {
	width: 100%!important;
}
#tabView2 {
	width: 100%!important;
}
#container7 {
	width: 100%!important;
}
.waf-label-combobox {
	margin-left:-15px!important;
}
.waf-label-textfield {
	margin-left:-15px!important;
}
#menuBar2 {
	height:50px!important;
	visibility:hidden;
}