.waf-tabView-container-level-0 {
	width: 100%!important;
}
#tabView2 {
	width: 100%!important;
}
#container7 {
	width: 100%!important;
}
.waf-label-combobox {
	margin-left:-15px!important;
}
.waf-label-textfield {
	margin-left:-15px!important;
}
#menuBar2 {
	height:50px!important;
	visibility:hidden;
}
/*Center Main Title of admin Page*/
#mainTitle {
    margin: 0px auto;
    min-width: 700px;
    max-width: 700px;
    width: 100%;
    right: 0px;
}